@CHARSET "UTF-8";

body {
	padding-top: 40px;
  	padding-bottom: 40px;
  	background-color: #eee;
}

p{
	display: inline;
	float: left;
	margin-left: 10px;
}

timepicker{
	display: inline;
}
#tab-container {
	max-width: 700px;
  	padding: 30px;
  	margin: 0 auto;
  	background-color: #fff;
  	position: absolute;
  	left: 20px;
  	height: auto;
  	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    		box-sizing: border-box;
  	font-size: 16px;
  	z-index: 2;
  	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

#add-auction {
	max-width: 550px;
  	padding: 30px;
  	margin: 0 auto;
  	background-color: #fff;
  	position: absolute;
  	right: 20px;
  	height: auto;
  	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    		box-sizing: border-box;
  	font-size: 16px;
  	z-index: 2;
  	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}