<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/dispatcher-servlet.xml; /WEB-INF/business-config.xml</param-value>
	</context-param>

	<!-- <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/business-config.xml</param-value>
	</context-param>
	 -->
	 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
<!-- za da bara sertifikati samo na odredeni strani
	 <security-constraint>
		<web-resource-collection>
			<web-resource-name>OnlineBidding</web-resource-name>
				<url-pattern>/</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config> -->
     
<!--avtorizacija
 	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Online Bidding</web-resource-name>
				<url-pattern>/*</url-pattern>
				<http-method>GET</http-method>
				<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>

		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	 </security-constraint> -->
	

</web-app>

<!-- This was added at the beginning by default! -->
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" > -->
	
	
	
	